body{
    box-sizing: border-box;
    text-align: center;
    border: 1px solid gray;
    margin: 100px 450px;
    max-width: 100vw;
    padding: 10px;
}
.main-title{
    text-transform: uppercase;
    font-family: monospace, 'Courier New', Courier;
}
.content-title{
    text-transform: uppercase;
    font-family: monospace, 'Courier New', Courier;
    font-weight: 700;
    text-align: left;
    border-bottom: 2px solid black;
}
#box{
    padding: 10px;
    width: 350px;
}
#task-submit, button{
    text-decoration: none;
    background: none;
    border: none;
    opacity: 0.5;
}
#task-submit:hover ,button:hover{
    opacity: 1;
}
.text{
    padding: 10px;
    width: 250px;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
}

.task{
    display: flex;
    justify-content: space-between;
}
