.testimonials{
    margin: 50px auto;
    margin-top: 50px;
}
.testimonials h1{
    text-align: center;
    font-weight: bold;
    color: #ff9800;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.testimonials h1::after{
    content: '';
    background: #ff9800;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}  
.testimonials .row{
    margin-top: 30px;
} 
.col-md-4{
    margin-top: 40px;
}
.profile{
    padding: 70px 10px 10px;
    background-color: #efefef;
    position: relative;
}
.profile img{
    top: -60px;
    position: absolute;
    left: calc(50% - 60px);
    border: 10px solid white;
}
.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile h3{
    font-size: 20px;
    margin-top: 15px;
    color:#ff9800;
}
span{
    font-size: 20px;
    color: #333;
}
blockquote{
    font-size: 16px;
    line-height: 30px;
}
blockquote::before{
    /*content: '\93';*/
    font-size: 50px;
    position: relative;
    color: #ff9800;
    line-height: 20px;
    bottom: -15px;
    right: 5px;
}
blockquote::after{
    /*content: '\94';*/
    font-size: 50px;
    position: relative;
    color: #ff9800;
    line-height: 10px;
    bottom: -15px;
    left: 5px;
}
.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}
.wrapper{
    width: 1170px;
    margin: 2% auto;
}
.section-header{
    text-align: center;
    margin-bottom: 30px;
}
.section-header h2{
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    font-size: 45px;
    letter-spacing: 5px;
}
.team-member{
    width: 29%;
    height: auto;
    float: left;
    box-shadow: 5px 5px 15px #000;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px; 
    text-align: center;
    margin: 0 5px;
    background: #222859;
    margin-bottom: 50px;
    margin-left: 40px;
}
.team-member img{
    width: 100%;
}
.team-member h3{
    margin: 0;
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
}
.team-member p{
    color: #fff;
}
.team-member:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}
.team-member:after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 4px;
    width: 100%;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}
.team-member:hover:before{
    border-color: #d04f81;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear,.3s height linear .3s;
}
.team-member:hover:after{
    border-color: #d04f81;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear,.3s height linear .5s;
}
.nav-bar a{
    text-transform: uppercase;
    margin: 0;
    color: #fff;
    
}
.about-us{
    text-align: center;
    padding: 50px;
}
.about-us img{
    float: left;
    height: 250px;
    width: 250;
    border-radius: 50%;
}
.contact-us h3{
    text-align: center;
}
.call-us{
    
     display: flex;   
}
a{
    text-decoration: none;
    color: black;
}
.icons{
    display: flex;
    margin-top: 30px;
}